:root{
    font-size: 16px;
}

body{
    max-width: 1192px;
    font-family: 'Arimo', sans-serif;
    margin: 0 auto;
    text-align: center;
    color:#484848;
}

table{
border-collapse: collapse;
margin: 0 auto;
width: 95.7%;
outline: 20px solid #3a4965;
}



th,td{
    
    width:24.3%;
}

th:first-child,td:first-child{
    border:none;
    box-shadow: none;
}
.title{
    width: 27.2%;
}

.first{
    font-size: 1.12;
    text-transform: uppercase;
}

.first > span{
    display: block;
    font-size: 1.87rem;
}
    

#standard,#ultimate,#premium{
    color: white;
    text-transform: uppercase;
}

#standard{
    font-size: 1.5rem;
    background-color: #89c331;
    padding-top: 1.56rem;
    padding-bottom:  1.56rem;

}

#ultimate{
    font-size: 1.87rem;
    background-color: #f04a56;
    
}

#premium{
    font-size: 1.5rem;
    background-color: #20807c;
}

.price,.offer>section{
    display: inline-block;
}
.offer{
    position: relative;
}
.price{
    font-size: 3.75rem;

}

.cent{
    font-size: 1.5rem;
    position: relative;
    top: 0px;
    left: -38px;

}

.per{
    font-size: 1.12rem;
    text-transform: uppercase;
    font-weight: 500;
}


.second::before{
    content: '';
    display: inline-block;
    background: url('../img/1.png') no-repeat;
    width:23px;
    height: 21px;
    position: relative;
    top: 5px;
    left:-12px;
}
td{
    padding-top: 1.87rem;
    padding-bottom: 1.87rem;
}

tbody{
    text-transform: uppercase;
}

.third::before{
    content: '';
    display: inline-block;
    background: url('../img/2.png') no-repeat;
    width:25px;
    height: 21px;
    position: relative;
    top: 5px;
    left:-12px;

}

.fourth::before{
    content: '';
    display: inline-block;
    background: url('../img/3.png') no-repeat;
    width:23px;
    height: 21px;
    position: relative;
    top: 5px;
    left:-12px;
}

.fifth::before{
    content: '';
    display: inline-block;
    background: url('../img/4.png') no-repeat;
    width:24px;
    height: 25px;
    position: relative;
    top: 8px;
    left:-12px;
}

.sixth::before{
    content: '';
    display: inline-block;
    background: url('../img/5.png') no-repeat;
    width:23px;
    height: 21px;
    position: relative;
    top: 5px;
    left:-12px;
}

.seventh::before{
    content: '';
    display: inline-block;
    background: url('../img/6.png') no-repeat;
    width:26px;
    height: 25px;
    position: relative;
    top: 7px;
    left:-12px;
}

thead > tr:last-child th{
    border-left:1px solid #d9d9d9;
    box-shadow: -1px 0  2px  #d9d9d9;
}


tbody td {
    border-left:1px solid #d9d9d9;
    box-shadow: -1px 0  2px  #d9d9d9;
}

tbody > tr:nth-child(odd){
background-color:#f2f2f2;

}

tbody > tr:nth-child(even){
    background-color:#e3e3e3;
}
tbody>tr:last-child{
    color:white;
    font-weight: bold;
    text-transform: uppercase;
}

    
.contact{
    width:62%;
    background-color: #484848;
    border-bottom: 0.5rem solid #404040;
    margin: 0 auto;
}

.contact > a{
    display: block;
    padding-top: 1.2rem;
    padding-bottom: 0.7rem;
    color: white;
    text-decoration: none;
}

.buy1 {
    background-color:#89c331;
    border-bottom: 0.5rem solid #79b027;
}

.buy2{
    background-color: #f04a56;
    border-bottom: 0.5rem solid #df3a46;
}

.buy3{
    background-color: #20807c;
    border-bottom: 0.5rem solid #16736f;
}

.buy1,.buy2,.buy3{
    width:69%;
    margin: 0 auto;
}

.buy__link{
    display: block;
    padding-top: 1.2rem;
    padding-bottom: 0.7rem;
    color: white;
    text-decoration: none;
}

.last{
    background-color: #dddddd;
}

.specialy{
    border-left:1px solid #b5b6b9;
    box-shadow: -1px 0  2px  #b5b6b9;
}